body{
	background-color: #F7F6F2;

}
.body-color{
	background-color: #F7F6F2;
}
/*红色边界设置*/
.show-borderbottom {
    border-bottom: 0.1em solid red;
}
.show-borderleft{
	border-left:2px solid red;
}
.border-for-test {
	border: 1px solid red;
}
/*用户信息样式设置*/
.font-p-x{
	font-size: 15px;
    padding-left: 20px;
}
.feture-motto {
    font-weight: 600;
    font-family: 'KaiTi';
}
/*视图中间内容的边框*/
.center-view {
    background-color: white;
    border: 1px solid #E3E3E3;
    border-radius: 6px 6px 6px 6px;
}
.center-view-padding {
    padding: 45px;
}
/*文章列表设置*/
.bloglist a:link {
    color: #767676;
}
.bloglist a:visited {
    color: #767676;
}
.bloglist a:hover {
    color: black;
    font-weight: 100;
}
.blog-title a:link {
    color: #000;
}
.blog-title a:visited {
    color: #000;
}
.blog-title a:hover {
    color: #3E3E3E;
    font-weight: 100;
}
.blog-title {
	font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Microsoft YaHei';
}
.blog-introduce {
	font-size: 14px;
	color: #666;
	line-height: 24px;
    font-family: Arial;
    text-indent: 2em;
}
.blog-footer {
    color: rgb(153,153,153);
}
