body{
	background-color: #F7F6F2;
}
.body-color{
	background-color: #F7F6F2;

}
.show-borderleft{
	border-left:2px solid red;
}
.show-borderleft-sm {
	border-left:1px solid rgb(66,139,220);
}
.border-for-test {
	border: 1px solid red;
}
.font-p-x{
	font-size: 15px;
}