<div class="row">
    <div class="col-sm-3"><h3 class="text-left">Blog View</h3></div>
    <div class="col-sm-2 col-sm-offset-7" ng-if="login"><h3><a href="#/views/useredit/new" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;写博客</a></h3></div>
</div>
<hr>
<p class="blogview-title">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span>&nbsp;<a href="#/views/blogview/{{blogDetail.aid}}">{{blogDetail.title}}</a>&nbsp;&nbsp;<span ng-show="blogDetail.public === '0'" class="glyphicon glyphicon-lock" aria-hidden="true"> </span>
</p>
<div class="blog-detail-footer">
        <p ng-show="login"><span class="glyphicon glyphicon-trash" aria-hidden="true"> </span><a href="javascript:void(0)" ng-click="showWarning=!showWarning">&nbsp;删除</a></p>
        <p ng-if="login"><span class="glyphicon glyphicon-edit" aria-hidden="true"> </span><a href="#/views/useredit/{{blogDetail.aid}}">&nbsp;编辑</a></p>
        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>&nbsp;阅读:{{blogDetail.views}}</p>
        <p class="date">{{blogDetail.postdate}}</p>
</div>
<hr>
<markdown content="content"></markdown>
<hr>
<!-- 显示同类文章 -->
<h4>同类文章: </h4>
<div class="similar_c" ng-show="BlogSimilar.content.length > 0">
    <div class="similar_c_t">
        <label class="similar_cur" style="cursor:pointer">{{BlogSimilar.cname}}&nbsp;&nbsp;<em>({{BlogSimilar.content.length}})</em></label>
    </div>
    <div class="similar_wrap">
        <ul class="similar_list fl">
            <li ng-repeat="blog in BlogSimilar.content" ng-if="$index%2 == 0">
                <em>•</em>
                <a href="#/views/blogview/{{blog.aid}}">{{blog.title}}</a>
            </li>
        </ul>
        <ul class="similar_list fr">
            <li ng-repeat="blog in BlogSimilar.content" ng-if="$index%2 == 1">
                <em>•</em>
                <a href="#/views/blogview/{{blog.aid}}">{{blog.title}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="modal-warning" ng-hide="!showWarning">
<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="showWarning=!showWarning"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;提醒</h4>
        </div>
        <div class="modal-body">
            <h4>这篇文章即将被删除！点击确定继续！</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="deleteBlog()">确定</button>
            <button class="btn btn-success" ng-click="showWarning=!showWarning">取消</button>
        </div>
</div><!-- /.modal -->
</div>