<div class="list-group">
    <a href="#/views/config" class="list-group-item body-color" ng-class="{'show-borderleft': selectPage==='home'}" >home</a>
    <a href="#/views/blog" class="list-group-item body-color" ng-class="{'show-borderleft': selectPage==='blog'}">blog</a>
    <a href="#/views/course" class="list-group-item body-color" ng-class="{'show-borderleft': selectPage==='course'}" >course</a>
    <a href="#/views/setting" class="list-group-item body-color" ng-class="{'show-borderleft': selectPage==='setting'}" >setting</a>
</div>