<div class="row">
    <h1 class="text-center">{{selectPage}}<small>&nbsp;beat</small></h1>
    <hr>
    <div class="col-sm-2">
        <userinfo></userinfo>
    </div>
    <div class="col-sm-8 center-view">
        <div class="row">
            <div class="col-sm-3"><h3 class="text-left">Blog List</h3></div>
            <div class="col-sm-2 col-sm-offset-7"><h3><a href="#/views/useredit/1" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;写博客</a></h3></div>
        </div>
        <hr>
        <div class="bloglist" ng-repeat="blog in blogs">
            <p class="blog-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span>&nbsp;&nbsp;<a href="#/views/blogview/{{blog.anthor}}/{{blog.id}}">{{blog.title}}</a>&nbsp;&nbsp;<small><span ng-show="blog.purview==='0'" class="glyphicon glyphicon-lock" aria-hidden="true"> </span></small></p>
            <p class="blog-introduce">{{blog.introduce}}</p>
            <p class="text-right blog-footer"><small><span class="date">{{blog.date}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>&nbsp;阅读:{{blog.viewtimes}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"> </span><a href="#/views/useredit/{{blog.id}}">&nbsp;编辑</a> &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"> </span><a href="javascript:void(0)" ng-click="delectBlog()">&nbsp;删除</a></small></p>
            <hr>
        </div>
    </div>
    <div class="col-sm-2">
        <usernav></usernav>
    </div>
</div>