<div class="row">
    <img src="images/face/0.jpg" class="img-responsive img-thumbnail" alt="User photo" width="120px">
    <h4 class="ng-binding">{{user.userName}}</h4>
    <hr style="margin: 6px 0;"><br>
    <p class="font-p-x "><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;Visited:<span class="ng-binding">&nbsp;{{user.visitTime}}</span></p>
    <p class="font-p-x "><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp;Motto:<span class="ng-binding" style="font-family:KaiTi;">&nbsp;{{user.motto}}</span></p>
</div>