<div class="row">
    <div class="col-sm-3"><h3 class="text-left">Write Blog</h3></div>
    <div ng-if"login" class="col-sm-2 col-sm-offset-7"><h3><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="发表" ng-click="postArticle()"><span class="glyphicon glyphicon-send"> </span>&nbsp;发表</button></h3></div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 box-l">
        <div class="input-group lg-input">
            <input type="text" class="form-control" placeholder="标题" ng-model="newBlog.title">
        </div>
        <div class="input-group sm-input" role="group">
            <select class="form-control" ng-model="newBlog.cateid">
                <option value="null" selected="selected">类别</option>
                <option value="{{item.cid}}" ng-repeat="item in category"><span style="color: #3C3C3C">{{item.cname}}<span></option>
            </select>
        </div>
        <div class="input-group sm-input" role="group">
            <select class="form-control" ng-model="newBlog.public">
                <option value="null" selected="selected">公开</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
            </select>
        </div>
        <div class="btn-group nav-r" role="group">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="MarkDown语法帮助" ng-click="showHelps=!showHelps"><span class="glyphicon glyphicon-question-sign"> </span></button>
        </div>
        <div class="btn-group nav-r" role="group">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="预览" ng-click="switchView()"><span ng-class="{'glyphicon glyphicon-eye-open' : !showPreview, 'glyphicon glyphicon-eye-close' : showPreview}"> </span></button>
        </div>
        <div class="btn-group nav-r" role="group">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="插入图片" ng-click="insertImg()"><span class="glyphicon glyphicon-picture"> </span></button>
        </div>
        <hr>
        <textarea id="editor" placeholder="write here" ng-model="markcontent"></textarea>
        <!--预览框-->
        <div id="preview" ng-show="showPreview">
            <markdown content="content"></markdown>
        </div>
    </div>
</div>
<!--语法帮助框-->
<div class="modal-helps" ng-hide="!showHelps">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="showHelps=!showHelps">×</button>
            <h4 class="modal-title">Markdown语法帮助</h4>
        </div>
        <div class="modal-body">
            <ol class="help-menu">
                <li class=""><a>标题</a>
                    <div>
                        <h4>在文字写书写不同数量的#可以完成不同的标题，如下：</h4>

                        <p># 一级标题<br>
                            ## 二级标题<br>
                            ### 三级标题<br>
                            #### 四级标题<br>
                            ##### 五级标题<br>
                            ###### 六级标题</p>
                        <h4>等号及减号也可以进行标题的书写，不过只能书写二级标题，并且需要写在文字的下面，减号及等号的数量不会影响标题的基数，如下：</h4>

                        <p>二级标题<br>
                            =========</p>

                        <p>二级标题<br>
                            ---------</p>
                    </div>
                </li>
                <li class=""><a>列表</a>

                    <div >
                        <h4>无序列表的使用，在符号“-”后加空格使用。如下：</h4>

                        <p> - 无序列表1<br>
                            - 无序列表2<br>
                            - 无序列表3</p>
                        <h4>如果要控制列表的层级，则需要在符号“-”前使用空格。如下：</h4>

                        <p> - 无序列表1<br>
                            - 无序列表2<br>
                            &nbsp;&nbsp;- 无序列表2.1<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 列表内容<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 列表内容</p>

                        <p>&nbsp;</p>
                        <h4>有序列表的使用，在数字及符号“.”后加空格几个，如下：</h4>

                        <p> 1. 有序列表1<br>
                            2. 有序列表2<br>
                            3. 有序列表3<br>
                        </p>
                        <h4>有序列表如果要区分层级，也可以在数字前加空格。</h4>
                    </div>
                </li>
                <li class=""><a>引用</a>

                    <div>
                        <h4>引用的格式是使用符号“&gt;”后面书写文字，及可以使用引用。如下：</h4>

                        <p> &gt;这个是引用<br> &gt; 是不是和电子邮件中的<br>
                            &gt; 引用格式很像</p>
                    </div>
                </li>
                <li class=""><a>粗体与斜体</a>

                    <div>
                        <h4>
                            粗体的使用是在需要加粗的文字前后各加两个“*”，而斜体的使用则是在需要斜体的文字前后各加一个“*”，如果要使用粗体和斜体，那么就是在需要操作的文字前后各加三个“*”。如下：</h4>

                        <p> **这个是粗体**<br>
                            *这个是斜体*<br>
                            ***这个是粗体加斜体***</p>
                    </div>
                </li>
                <li class=""><a>链接与图片</a>

                    <div>
                        <h4>在文中直接加链接，中括号中是需要添加链接的文字，圆括号中是需要添加的链接，如下：</h4>

                        <p> [link text](http://example.com/ "optional title")</p>
                        <h4>在引用中加链接，第一个中括号添加需要添加的文字，第二个中括号中是引用链接的id，之后在引用中，使用id加链接：如下：</h4>

                        <p> [link text][id]<br>
                            [id]: http://example.com/ "optional title here"</p>
                        <h4>在文中直接引用链接，直接使用尖括号，把链接加入到尖括号中就可以实现，如下：</h4>

                        <p>&lt;http://example.com/&gt; or &lt;address@example.com&gt;<br>
                        </p>
                        <h4>插入互联网上图片，格式如下：</h4>

                        <p>![这里写图片描述](http://img3.douban.com/mpic/s1108264.jpg)<br>
                            ![这里写图片描述][jane-eyre-douban]<br>
                            [jane-eyre-douban]: http://img3.douban.com/mpic/s1108264.jpg</p>
                    </div>
                </li>
                <li class=""><a>代码块</a>

                    <div>
                        <h4>用TAB键起始的段落，会被认为是代码块，如下：</h4>

                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&lt;php&gt;<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo “hello world";<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/php&gt;</p>
                        <h4>如果在一个行内需要引用代码，只要用反引号`引起来就好，如下：</h4>

                        <p> Use the <code>`printf()` </code>function.</p>
                    </div>
                </li>
                <li class=""><a>分割线与删除线</a>

                    <div>
                        <h4>可以在一行中用三个以上的星号、减号、底线来建立一个分隔线，同时需要在分隔线的上面空一行。如下：</h4>

                        <p> ---<br>
                            ****<br>
                            ___</p>
                        <h4>删除线的使用，在需要删除的文字前后各使用两个符合“~”，如下</h4>

                        <p> ~~Mistaken text.~~</p>
                    </div>
                </li>
                <li class=""><a>代码块与语法高亮</a>

                    <div>
                        <h4>在需要高亮的代码块的前一行及后一行使用三个反引号“`”，同时第一行反引号后面表面代码块所使用的语言，如下：</h4>

                        <p>```ruby<br>
                            require 'redcarpet'<br>
                            markdown = Redcarpet.new("Hello World!")<br>
                            puts markdown.to_html<br>
                            ```</p>
                    </div>
                </li>
                <li class=""><a>表格</a>

                    <div>
                        <h4>可以使用冒号来定义表格的对齐方式，如下：</h4>

                        <p> | Tables | Are | Cool |<br>
                            | ------------- |:-------------:| -----:|<br>
                            | col 3 is | right-aligned | $1600 |<br>
                            | col 2 is | centered | $12 |<br>
                            | zebra stripes | are neat | $1 |<br>
                        </p>
                    </div>
                </li>
                <li class=""><a>LaTex数学公式</a>

                    <div>
                        <h4>使用MathJax渲染*LaTex* 数学公式，详见[<a href="http://math.stackexchange.com" target="_blank">math.stackexchange.com</a>]
                        </h4>
                        <h4>行内公式，数学公式为：</h4>

                        <p>$\Gamma(n) = (n-1)!\quad\forall n\in\mathbb N$<br>
                        </p>
                        <h4>块级公式：</h4>

                        <p>$$ x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$</p>

                        <p>更多LaTex语法请参考 [<a href="http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" target="_blank">这儿</a>]。</p>

                    </div>
                </li>
                <li class=""><a>UML 图</a>

                    <div>
                        <h4>可以渲染序列图：</h4>

                        <p>```sequence<br>
                            张三-&gt;李四: 嘿，小四儿, 写博客了没?<br>
                            Note right of 李四: 李四愣了一下，说：<br>
                            李四--&gt;张三: 忙得吐血，哪有时间写。<br>
                            ```</p>
                        <h4>或者流程图：</h4>

                        <p>```flow<br>
                            st=&gt;start: 开始<br>
                            e=&gt;end: 结束<br>
                            op=&gt;operation: 我的操作<br>
                            cond=&gt;condition: 确认？</p>

                        <p>st-&gt;op-&gt;cond<br>
                            cond(yes)-&gt;e<br>
                            cond(no)-&gt;op<br>
                            ```</p>

                        <p>- 关于 **序列图** 语法，参考 [<a href="http://bramp.github.io/js-sequence-diagrams/" target="_blank">这儿</a>]<br>
                            - 关于 **流程图** 语法，参考 [<a href="http://adrai.github.io/flowchart.js/" target="_blank">这儿</a>]<br>
                        </p>
                    </div>
                </li>
            </ol>

        </div>
    </div>
</div>
<hr><br><br>



